.logo{
    width: 50px;
}

ul{
    float:right;
}

.nav-item:hover{
  background: #1b9bff;
  transition: .5s;
  margin-right:4px;
}

nav a{
  color: white;
  font-size: 15px;
  border-radius:3px;
  text-transform: uppercase;
}
error-container {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 10000;
}

.pizza-img {
  height: 300px;
  margin-bottom: 20px;
}

.order-details, .order-summary {
  padding: 50px;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 20px;
}

#order-btn {
  margin-top: 50px;
}

#yes-delivery {
  margin-top: 20px;
}

#yes-delivery > textarea {
  height: 150px;
  resize: none;
}

.required-data {
  color: red;
}

body{
  background-color: bisque;
}

 .subtitle, .section-header {
  font-family: 'Lance-Sans-Regular';
  font-weight: bold;

}

.subtitle{
  font-size:3.25rem;
  line-height: 64px;

}