
.logo{
    width: 50px;
}

.carousel-inner .carousel-item {
    max-height: 625px;


}

ul{
    float:right;
}

.nav-item:hover{
  background: #1b9bff;
  transition: .5s;
  margin-right:4px;
}

nav a{
  color: white;
  font-size: 15px;
  border-radius:3px;
  text-transform: uppercase;
}

.card{
    width: 18rem;
    margin-top: 40px;
    background-color: #bdbdbd;
}

.about-us{
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
}

.menu{
    background-color: #353839;

}
/* body{
    background-color: #353839;
} */

/* .form{
    width: 0 auto;
    display: inline-block;
    color: white;
    text-align: center;
} */
/* 
textarea{
    resize: none;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 20px; 
} */


footer{
    background-color: aquamarine;
    height: 90px;
    margin-top: 40px;
}

/* .icons{
    margin-top: 200px;
} */
/* 
.icons{
    margin-right: 200px;
} */

.title{
    font-weight: bold;
    text-align: center;
}



